[user]
    name  = abhimangs
    email = abhimangs23@gmail.com

[core]
    editor = code --wait
    pager  = bat --plain

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[pull]
    rebase = false

[alias]
    st    = status
    co    = checkout
    br    = branch
    lg    = log --oneline --graph --decorate --all
    wdiff = diff --word-diff
    undo  = reset HEAD~1 --mixed
